.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.select {
    cursor: pointer;
    color: white;
    font-size: 18px;

    margin-top: 15px;
    padding: 6.5px 15px;

    border: none;
    height: fit-content;
    background-color: black;
    border-radius: 3px 3px 5px 5px;
}

.select:last-child {
    border-radius: 0px 0px 3px 3px;
}