@import "../../variables.scss";

.input {
    font-size: 16px;
    font-family: Verdana, sans-serif;
    padding: 8px;
    margin-top: 10px;
    min-width: 250px;
    background: none;
    border: 0px;
    border-radius: 3px;
    border-bottom: 3px solid rgb(146, 146, 146);

    &:focus {
        border-color: black;
        outline: none;
    }
}

.input_password {
    border: 0px;
    min-width: 220px;
}

.solid {
    border-style: solid;
}

.input_password_wrapper {
    position: relative;
    display: inline-block;
    border-radius: 3px;
    border-bottom: 3px solid rgb(146, 146, 146);

    &:focus-within {
        border-color: black;
    }
}

.password_button {
    cursor: pointer;
    border: 0px;
    min-width: 20px;
    min-height: 20px;
    margin-right: 10px;
    background-size: cover;
    background-color: $second-color;
}

.input_error {
    border-color: #ca0000;
}