@import "../../variables.scss";

.content {
    display: grid;
    grid-template-columns: 1fr 3fr;

    .bank {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 20px;
    }
}