@import "../../../variables.scss";

.aside {
    grid-column: 2;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 50px 40px;

    .last_change {
        display: flex;
        align-items: center;
        padding: 5px;
        margin-top: 20px;

        .last_change__picture {
            margin-right: 20px;
            width: 50px;
        }
    }

    .nothing {
        margin-left: 25px;
    }

    .add_button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        color: $font-color;
        background-color: $second-object-color;
        border: 1px solid $second-object-color;
        border-radius: 50%;
        height: 49px;
        width: 49px;
        margin: 20px 70px;
        font-size: 38px;
        user-select: none;
        transition: 0.3s;

        &:hover {
            color: $font-color-second;
            background: $second-color;
            border-color: black;
        }
    }
}