@import "../../variables.scss";

.content {
    display: grid;
    grid-template-columns: 2fr 5fr;

    .bank {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 20px;

        .groupName {
            margin-bottom: 10px;
        }

        .total {  
            margin: 10px 0px 10px 0px;
            font-size: 23px;
        }

        .totalCost {
            margin: 10px 0px 10px 0px;
            font-size: 21px;
        }

        .cost_type_text {
            cursor: pointer;
    
            .cost_type_radio {
                cursor: pointer;
                margin: 10px;
            }
        }
    }
}

.green {
    color: $green-color;
}

.red {
    color: $red-color;
}