.loading__animation {
    position: relative;
    left: 45%;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px dashed gray;

    animation: 2s linear 0s normal none infinite running loading;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(100deg);
    }
}