.bank__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .costs {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 100px;
    }

    .cost {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 70px;
        margin: 5px;

        .cost__text {
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;
            font-size: 14px;
        }
    }

    .bank__picture {
        margin: 5px 0px 5px 0px;
        width: 60px;
    }

    .add_button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
    }
}